In [1]:
import spacy

In [2]:
nlp = spacy.load("en_core_web_sm")
nlp.pipe_names

['tok2vec', 'tagger', 'parser', 'attribute_ruler', 'lemmatizer', 'ner']

In [3]:
doc = nlp("Tesla Inc is going to acquire Twitter for $45 billion")

for ent in doc.ents:
    print(ent.text, " | ", ent.label_, " | ", spacy.explain(ent.label_))

Tesla Inc  |  ORG  |  Companies, agencies, institutions, etc.
Twitter  |  ORG  |  Companies, agencies, institutions, etc.
$45 billion  |  MONEY  |  Monetary values, including unit

In [4]:
from spacy import displacy

displacy.render(doc, style="ent")

In [5]:
# List down all the entities
nlp.pipe_labels['ner']

['CARDINAL',
 'DATE',
 'EVENT',
 'FAC',
 'GPE',
 'LANGUAGE',
 'LAW',
 'LOC',
 'MONEY',
 'NORP',
 'ORDINAL',
 'ORG',
 'PERCENT',
 'PERSON',
 'PRODUCT',
 'QUANTITY',
 'TIME',
 'WORK_OF_ART']

In [6]:
doc = nlp("Michael Bloomberg founded Bloomberg in 1982")

for ent in doc.ents:
    print(ent.text, "|", ent.label_, "|", spacy.explain(ent.label_))

Michael Bloomberg | PERSON | People, including fictional
Bloomberg | PERSON | People, including fictional
1982 | DATE | Absolute or relative dates or periods

In [7]:
doc = nlp("Tesla Inc is going to acquire Twitter Inc for $45 billion")

for ent in doc.ents:
    print(ent.text, " | ", ent.label_, " | ", ent.start_char, "|", ent.end_char)

Tesla Inc  |  ORG  |  0 | 9
Twitter Inc  |  ORG  |  30 | 41
$45 billion  |  MONEY  |  46 | 57

#### Setting custom entities

In [8]:
doc = nlp("Tesla is going to acquire Twitter for $45 billion")

for ent in doc.ents:
    print(ent.text, " | ", ent.label_)

Twitter  |  ORG
$45 billion  |  MONEY

In [9]:
s = doc[2:5]
s

going to acquire

In [10]:
type(s)

spacy.tokens.span.Span

In [11]:
from spacy.tokens import Span

# 0 and 1 is starting and ending position of letter
s1 = Span(doc, 0, 1, label="ORG")

# 5 and 6 is starting and ending position of letter
s2 = Span(doc, 5, 6, label="ORG")

doc.set_ents([s1, s2], default="unmodified")

In [12]:
for ent in doc.ents:
    print(ent.text, " | ", ent.label_)

Tesla  |  ORG
Twitter  |  ORG
$45 billion  |  MONEY

### Practice

In [13]:
import spacy

nlp = spacy.load("en_core_web_sm")

#### 1. Extract all the Geographical (cities, Countries, states) names

In [14]:
text = """Kiran want to know the famous foods in each state of India. So, he opened Google and search for this question. Google showed that
in Delhi it is Chaat, in Gujarat it is Dal Dhokli, in Tamilnadu it is Pongal, in Andhrapradesh it is Biryani, in Assam it is Papaya Khar,
in Bihar it is Litti Chowkha and so on for all other states"""

In [15]:
doc = nlp(text)
location = []

for ent in doc.ents:
    if ent.label_ == 'GPE':
        location.append(ent)

location

[Kiran, India, Delhi, Gujarat, Pongal, Andhrapradesh, Bihar]

#### 2. Extract all the birth dates

In [16]:
text = """Sachin Tendulkar was born on 24 April 1973, Virat Kholi was born on 5 November 1988, Dhoni was born on 7 July 1981
and finally Ricky ponting was born on 19 December 1974."""

In [17]:
doc = nlp(text)
dob = []

In [18]:
for ent in doc.ents:
    if ent.label_ == 'DATE':
        dob.append(ent)

In [19]:
print("All Birth Dates: ", dob)
print("Count: ", len(dob))

All Birth Dates:  [24 April 1973, 5 November 1988, 7 July 1981, 19 December 1974]
Count:  4